* {
    color: #1f1f1f;
    margin: 0;
    padding: 0;
    font-family: "amaranth";
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

/*START MENU NAV*/
/*top part*/

#menu_left {
    justify-content: space-between;
    list-style: none;
    display: flex;
    background-color: #1f1f1f;
}

#menu_left li a img {
    width: 4rem;
    height: 4rem;
}

#menu_right {
    display: flex;
}

#caddie_link {
    margin-right: 1rem;
}

#sreach img {
    padding-top: 1rem;
}

#profil img {
    padding-top: 1rem;
}

#caddie img {
    padding-top: 1rem;
}

#sreach_link {
    margin-left: 1rem;
    margin-right: 1rem;
}

#profil_link {
    margin-right: 1rem;
}

#manueleclogo {
    font-size: 4rem;
    background-color: #8c0014;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 3rem;
}

/*bot part*/
#menu_bot {
    list-style: none;
    font-size: 2rem;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
}

#menu_bot li {
    padding: 1rem;
}

#menu_bot li a {
    color: #fff;
    text-decoration: none;
}

#menu_bot li a:hover {
    background-color: #515151;
}

.active {
    background-color: #515151;

}

/*END MENU NAV*/

/*section "L'entreprise"*/

.title_max {
    text-decoration: underline;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 5rem;
}

.title_min {
    font-style: italic;
    text-align: center;
    font-size: 3.5rem;
}

.story img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60rem;
    border-radius: 10%;
}

.story p {
    margin-bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 45rem;
    font-size: 2rem;
}

.story {
    text-align: center;
}

/*End section */

/*section "Nous contacter"*/

#contact {
    font-size: 2rem;
    margin-bottom: 7rem;
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
}

fieldset div input {
    box-shadow: 5px 5px 5px #1f1f1f;
}

fieldset div textarea {
    margin-top: 1rem;
    box-shadow: 5px 5px 5px #1f1f1f;
}

#form_part1 {
    margin-right: 5%;
    text-align: end;
    width: 45%;
}

#form_part1 input {
    width: 13rem;
    font-size: 1.5rem;
}

.margform {
    padding: 0.5rem;
    margin-top: 1rem;
}

#form_part2 {
    border-left: #1f1f1f solid 3px;
    margin-right: 4%;
    text-align: end;
    width: 30%;
}

#object {
    width: 14.7rem;
}

textarea {
    resize: none;
}

fieldset {
    border: none;
}

.question {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45rem;
    font-size: 2rem;
}

#buttonform {
    font-size: 2rem;
    width: 20rem;
    padding: 1rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}

#tel {
    margin-bottom: 10rem;
}

/*End section "Nous contacter"*/

/*Début de la section nous trouver*/

iframe {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 10%;
}

#found_us p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*Fin de la section nous trouver*/

/*FOOTER*/

footer {
    font-size: 1.5rem;
    background-color: #1f1f1f;
    text-align: center;
}

footer img {
    width: 3rem;
    margin: 1rem;
}

.parafooter {
    margin: 2rem;
    color: #fff;
}

.parafooter a {
    text-decoration: none;
    color: #fff;
}

#legallink {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

/*END FOOTER*/

/*Modification pour les grand ecran*/

@media screen and (min-width: 992px) {
    #story_team {
        display: flex;
    }

    #story_team p {
        padding-top: 5rem;
        font-size: 1.6rem;
    }

    #story_team img {
        margin-left: auto;
        min-width: 640px;
        max-width: 640px;
        height: 480px;
    }

    #story_made {
        display: flex;
        flex-direction: row-reverse;
    }

    #story_made p {
        padding-top: 5rem;
        font-size: 1.6rem;
    }

    #story_made img {
        margin-right: auto;
        width: 40rem;
        height: 30rem;
    }

    .title_max {
        font-size: 4rem;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 5rem;
    }

    .title_min {
        font-size: 2.5rem;
    }

    .question {
        font-size: 1.6rem;
    }

    iframe {
        width: 50rem;
    }

    /*Footer pour grand ecran*/
    footer {
        font-size: 1rem;
    }

    footer img {
        width: 2rem;
    }

    .parafooter {
        margin: 1rem;
    }

    /*fin des modif pour le footer*/

    /*Fin des modif pour les grands ecrans*/
}