 
  /* Début du Carousel Francois */
  
  .Carousel-wrapper {
    height: 280px;
    position: relative;
    width: 100%;
    display: block;
    margin: 40px auto;
    border: 2px solid black;
  }
  
  .Carousel-Photo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .Arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  
  .Arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  
  .Arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^="Photo"] {
    display: none;
  }
  
  .Photo-Familly_facilities {
    z-index: 2;
    opacity: 1;
    background: url('Familly_facilities.jpg');
    background-size: cover;
  }
  
  .Photo-Economic_use {
    background: url('Economic_use.jpg');
    background-size: cover;
  }
  
  .Photo-Sav {
    background: url('Sav.jpg');
    background-size: cover;
  }
  
  *:target~.Photo-Familly_facilities {
    opacity: 0;
  }
  
  #Photo-Familly_facilities:target~.Photo-Familly_facilities {
    opacity: 1;
  }
  
  #Photo-Economic_use:target~.Photo-Economic_use,
  #Photo-Sav:target~.Photo-Sav {
    z-index: 3;
    opacity: 1;
  }
  
  .Commentaires_Photo {
    margin-top: 275px;
    margin-bottom: 1px;
    color: azure;
  }
  
  @media only screen and (min-width:768px) {
    .Carousel-wrapper {
      width: 65%;
      height: 450px;
    }
  
    .Commentaires_Photo {
      color: black;
    }
  }
  
  /* Fin du Carousel */
  /* Début de l'article accordéon avec les valeurs Francois */
  
  .accordion {
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background: #009578;
  }
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: block;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  
  
  /* Fin de la article accordeon */
  /* Début section Tooltip Francois */
  
  .tooltip_valeurs_1 {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    background-image: url('./valeurs_1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .tooltip_valeurs_2 {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    background-image: url('./zen.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .tooltip_valeurs_3 {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    background-image: url('./equipe.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .tooltip_valeurs_x::before,
  .tooltip_valeurs_x::after {
    --scale: 0;
  
    position: absolute;
    top: -.25px;
    left: 100%;
    transform: translateX(20%) translateY(10%) scale(var(--scale));
  }
  
  .tooltip_valeurs_x::before {
    content: attr(data-tooltip);
    color: black;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: pink;
  }
  
  .tooltip_valeurs_x:hover::before {
    --scale: 1;
  }
  
  /* Fin de la section Tooltip */
  /* Debut de la section Valeurs Francois*/
  
  #Valeurs {
    margin-top: 5rem;
    height: 400px;
  }
  
  #Menu_des_valeurs {
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
  }
  
  #Tooltips_valeurs {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 300px;
    padding-left: 100Px;
  }
  
  /* Fin de la section Valeurs */
  /* Début de la section vidéo Francois */
  
  
  
  #video_challenge {
    height: 100vh;
    width: 100vw;
    margin-top: 20rem;
    background: pink;
    position:relative;
    z-index:1;
  }
  
  #video_nature {
    width: -webkit-fill-available;
  }
  
  #overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    margin-top: 400px;
    z-index:2;
    color: white;
  }
  
  #overlay h1 {
    font-size: 60px;
    font-weight: 900;
  }
  
  #overlay p {
    font-size: 20px;
    padding-bottom: 30px;
  }
  
  #overlay #btn {
  
    background: white;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    color: black;
  }
  
  /* Fin de la section vidéo */