
#text{
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
#party1 #need_help {
    display: block;
    border: 1px black;
}
.green img{
    color: green;
}
section {
    display: flex;
    align-content: space-around;
}
#rigth {
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
}

#aside1, #aside2, #aside3, #aside4 {
    width: 25%;
    padding-top: 10px;
    justify-content: space-between;
   
}
#party2 p{
    line-height: 95px;
    border-bottom: 1px black;
}
#aside2, #aside3, #aside4 {
    margin-top: 150px;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
}
#aside2_1, #aside2_2, #aside3_1, #aside3_2, #aside4_1, #aside4_2 {
    background-color: rgb(250, 250, 253);
    padding-top: 50px;
    padding-bottom: 50px;
    border: white;
} 
    
    
